<span class="radioClass">Airline Class : </span>

<input type="radio" name="options" value="Firstclass" [(ngModel)]="selectedRadioButtonValue" (change)="onRadioButtonSelectionChange()" />
<span class="radioClass">First Class</span>

<input type="radio" name="options" value="Economyclass" [(ngModel)]="selectedRadioButtonValue" (change)="onRadioButtonSelectionChange()" />
<span class="radioClass">Economy Class</span>

<input type="radio" name="options" value="Businessclass" [(ngModel)]="selectedRadioButtonValue" (change)="onRadioButtonSelectionChange()" />
<span class="radioClass">Business Class</span>