<body style="padding-left:20px">
    <div>
        <h1>{{pageHeader}}</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-1">
                    <div class="customDiv"><h2>MELBOURNE</h2></div>
                </div>
                <div class="col-md-2">
                    <div class="customDiv"><h2>TO</h2></div>
                </div>
                <div class="col-md-4">
                    <div class="customDiv"><h2>SYDNEY</h2></div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="well">
        <list-pricecompare></list-pricecompare>
    </div>
</body>